<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>ProjetoWebMVCDao</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>

<!-- 
    <servlet>
        <servlet-name>Principal</servlet-name>
        <servlet-class>servlets.Principal</servlet-class>
    </servlet>
	<servlet-mapping>
		<servlet-name>Principal</servlet-name>
		<url-pattern>/Principal</url-pattern>
	</servlet-mapping>
 

	
	<servlet>
		<servlet>
		<servlet-name>AlunoServlet</servlet-name>
		<servlet-class>servlets.AlunoServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AlunoServlet</servlet-name>
		<url-pattern>AlunoServlet</url-pattern>
	</servlet-mapping>

 -->

</web-app>